.pageContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  overflow: hidden; /* This will prevent any overflow of the entire page */
}

.gridContainer {
  background-color: #f0f0f0; /* Soft grey background */

  margin-top: 50px;
  /* background-color: red; */
}

.navBarContainer {
  width: 100%; /* The navbar spans the full width of the page */
  position: fixed; /* Fixed to the top */
  top: 0;
  z-index: 10; /* Ensures it stays on top of other content */
  /* Your navbar styling here */
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.node {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  max-width: 5rem;
  height: 7rem;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  border-radius: 0.15rem;
  background-color: rgb(71 85 105);
}
