nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  width: 100%;
  min-height: 80px;
  background-color: #ffffff;
  color: #474747;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: fixed; /* Make the navbar fixed */
  top: 0; /* Stick it to the top */
  z-index: 1000; /* Set a higher z-index to ensure it appears above other elements */
}

nav > div {
  flex: 1;
  margin-left: 2rem;
}

nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex: 3;
  margin-right: 2rem;
}

nav > ul > li {
  display: flex;
  margin-left: 1rem;
  cursor: pointer;
}
